auto_mix_prep==0.2.0
faiss_cpu==1.7.4
geopy==2.4.1
matplotlib==3.8.0
numpy==2.2.1
pandas==2.2.3
PyYAML==6.0.2
scipy==1.15.0
seaborn==0.13.2
setuptools==75.1.0
streamlit==1.41.1
torch==2.0.1
tqdm==4.66.1
transformers==4.38.2
